<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>451353953318-9bh7pknlv636lcecd184e02cjf3ddgv4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.451353953318-9bh7pknlv636lcecd184e02cjf3ddgv4</string>
	<key>API_KEY</key>
	<string>AIzaSyDLL4NdCMPimcMWRjS6lK0hLtPb-NZk9bc</string>
	<key>GCM_SENDER_ID</key>
	<string>451353953318</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.amandaguo.bread</string>
	<key>PROJECT_ID</key>
	<string>bread-financial-app</string>
	<key>STORAGE_BUCKET</key>
	<string>bread-financial-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:451353953318:ios:a1beab9fbe31e35522d2e7</string>
	<key>DATABASE_URL</key>
	<string>https://bread-financial-app.firebaseio.com</string>
</dict>
</plist>